.ItemDetail {
	display: flex;
	flex-direction: row;
}
.ItemDetail img {
	width: 40%;
	min-height: 100%;
	object-fit: cover;
}
.ItemDetail .content {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}
.ItemDetail .content .title {
	font-size: 24px;
	font-weight: bold;
}
